@using Pickin.Helpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pickin</title>
    @await Html.PartialAsync("_Favicons")
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <link rel="stylesheet" href="~/css/site.css" type='text/css' />
    <link rel="stylesheet" href="~/css/bootstrap.css" type='text/css' />
    <link rel="stylesheet" href="~/css/animate.css" type='text/css' />
    <link rel="stylesheet" href="~/css/style.css" type='text/css' />

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link rel="stylesheet" href="~/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />

    <!-- Primary Inspinia style -->
    <link rel="stylesheet" href="~/css/font-awesome.css" type='text/css' />

</head>
<body class="boxed-layout">

    <!-- Skin configuration box -->
    @*<partial name="~/Pages/Shared/_SkinConfig.cshtml" />*@

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        <partial name="~/Pages/Shared/_Navigation.cshtml" />

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            <partial name="~/Pages/Shared/_TopNavbar.cshtml" />

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            <partial name="~/Pages/Shared/_Footer.cshtml" />

        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @*<partial name="~/Pages/Shared/_RightSidebar.cshtml" />*@

    </div>

    <!-- Section for main scripts render -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="~/lib/plugins/slimscroll/jquery.slimscroll.min.js">
    </script>
    <script type="text/javascript" src="~/lib/plugins/metisMenu/metisMenu.min.js">
    </script>
    <script type="text/javascript" src="~/lib/app/inspinia.js">
    </script>

    <!-- Skin config script - only for demo purpose-->
    @*<script type="text/javascript" src="~/lib/app/skin.config.min.js">
    </script>*@

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
