@using Pickin.Helpers
@using Pickin.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <cache vary-by-user="true">
                        <div>
                            <img src="@Url.Page("/ImageCompany", new { id = User.FindFirst("EmpresaId").Value })" object-fit: contain; width="100%" height="100%" />
                        </div>
                    </cache>
                </div>
            </li>

            <li class="@Html.IsSelected(page: "/Index")">
                <a href="@Url.Page("/Index")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.layouts">Tablero</span></a>
            </li>
            <li class="@Html.IsSelected(page: "/Productos")">
                <a href="@Url.Page("/Productos/Index")"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.layouts">Productos</span>@*<span class="label label-info pull-right">62</span>*@</a>
            </li>
            <li class="@Html.IsSelected(page: "/Pedidos")">
                <a href="@Url.Page("/Pedidos/Index")"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.layouts">Pedidos</span> @*<span class="label label-primary pull-right">NEW</span>*@</a>
            </li>

        </ul>
    </div>
</nav>