@page
@model Pickin.Pages.Productos.DetailsModel

@{
    ViewData["Title"] = "Pickin | Detail";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        @foreach (var item in Model.Productos)
        {
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-images">
                                    <div>
                                        <div class="image-imitation">
                                            @if (item.Image != null)
                                            {
                                                <img alt="@item.Id" class="img-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.Image)" />
                                            }
                                            else
                                            {
                                                <img alt="@item.Id" class="img-circle" src="~/images/Tipito.svg" />
                                            }
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 2]
                                        </div>
                                    </div>
                                    <div>
                                        <div class="image-imitation">
                                            [IMAGE 3]
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2 class="font-bold m-b-xs">
                                    @item.Nombre
                                </h2>
                                <small>@item.Descripcion</small>
                                <div class="m-t-md">
                                    <h2 class="product-main-price">$@item.Precio <small class="text-muted">Exclude Tax</small> </h2>
                                </div>
                                <hr>
                                <h4>Product description</h4>
                                <div class="small text-muted">
                                    @item.Descripcion
                                </div>
                                <dl class="small m-t-md">
                                    <dt>Description lists</dt>
                                    <dd>A description list is perfect for defining terms.</dd>
                                    <dt>Euismod</dt>
                                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                    <dt>Malesuada porta</dt>
                                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                </dl>
                                <hr>
                                <div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                        <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-footer">
                        <span class="pull-right">
                            Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                        </span>
                        The generated Lorem Ipsum is therefore always free
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript" src="~/lib/plugins/slick/slick.min.js"></script>

<link rel="stylesheet" href="~/css/plugins/slick/slick.css" type='text/css' />
<link rel="stylesheet" href="~/css/plugins/slick/slick-theme.css" type='text/css' />

<script type="text/javascript">
    $(document).ready(function () {


        $('.product-images').slick({
            dots: true
        });

    });
</script>